{% extends 'main/base.html.twig' %}

{% block title %}Your Cart - RankedChoice{% endblock %}
{% block page_keywords %}Jeans, Ranked Choice Homepage, Jackets{% endblock %}
{% block page_description %}User's cart on RankedChoice shop!{% endblock %}

{% block body %}
    <div class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb-3 text-center">
                    <div class="page-details mt-4">
                        <h1 class="h4 font-weight-normal title-gradient-1">Your cart:</h1>
                        <div class="row">
                            <div class="col-lg-12 order-block">
                                <div class="order-content">
                                    {% if cart %}
                                        {% set cartPriceTotal = 0 %}
                                        <table class="table table-cart table-mobile main-cart-show">
                                            <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Price</th>
                                                <th>Quantity</th>
                                                <th>Total</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for cartProduct in cart.cartProducts %}
                                                {% set product = cartProduct.product %}
                                                {% set images = product.getProductImages().getValues() %}
                                                <tr>
                                                    <td class="product-col">
                                                        <div class="text-center">
                                                            <figure>
                                                                {% if images|length %}
                                                                    {% set cover = images[0] %}
                                                                    <a href="{{ path('main_product_show', {'uuid': product.uuid}) }}" target="_blank">
                                                                        <img
                                                                                src="{{ asset('uploads/images/products/' ~ product.id ~ '/' ~ cover.filenameSmall) }}"
                                                                                alt="{{ product.title }}"
                                                                        />
                                                                    </a>
                                                                {% endif %}
                                                            </figure>
                                                            <div class="product-title">
                                                                <a href="{{ path('main_product_show', {'uuid': product.uuid}) }}" target="_blank">
                                                                    {{ product.title }}
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>

                                                    <td class="price-col">
                                                        ${{ product.price }}
                                                    </td>

                                                    <td class="quantity-col">
                                                        {{ cartProduct.quantity }}
                                                    </td>

                                                    <td class="total-col">
                                                        {% set cartProductPriceTotal = cartProduct.quantity * product.price %}
                                                        {% set cartPriceTotal = cartPriceTotal + cartProductPriceTotal %}
                                                        ${{ cartProductPriceTotal }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>

                                        <div class="mb-2 mt-2">
                                            Total: <strong>${{ cartPriceTotal }}</strong>
                                        </div>

                                        <a class="btn btn-success mb-3 text-white">
                                            MAKE ORDER
                                        </a>
                                    {% else %}
                                        <div class="alert alert-info">Your cart is empty</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}